@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-image: url("FondoTurnos2.jpg");
        background-color: #cccccc;
        background-repeat: no-repeat;
        background-size: auto;
        /*background-position: center;*/
    }
</style>



    <div class="text-center">
        <h1 class="display-4">Bienvenidos a Rapiturnos</h1>
        @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    </div>
