@model RapiTurnosDTO.DTOs.EmpresasDTO

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>



<body>
    <div class="container">
        <h2>Alta de Empresa</h2>
        
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="usr">Email:</label>
                    <input type="text" class="form-control" id="Nombre">
                </div>
                <div class="form-group col-md-6">
                    <label for="usr">Password:</label>
                    <input type="text" class="form-control" id="Nombre">
                </div>
            </div>
                    <div class="form-group">
                        <label for="usr">Nombre Empresa:</label>
                        <input type="text" class="form-control" id="Nombre">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Alias:</label>
                        <input type="text" class="form-control" id="Alias">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Direccion:</label>
                        <input type="text" class="form-control" id="Alias">
                    </div>

</form>
    </div>
    <div class="container">
        @*<h2>Form control: textarea</h2>
            <p>The form below contains a textarea for comments:</p>*@
        <form>
            <div class="form-group">
                <label for="comment">Reseña:</label>
                <textarea class="form-control" rows="3" id="comment"></textarea>
            </div>
        </form>
    </div>

    <div class="form-group">
        <label for="sel1">Rubro:</label>
        <select class="form-control" id="sel1">
            <option>Belleza</option>
            <option>Automotores</option>
            <option>pepe...</option>
            <option>pepe...</option>
        </select>
    </div>

    <div class="form-group">
        <label for="sel2">SubRubro:</label>
        <select class="form-control" id="sel2">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
    </div>
    <div class="container">
        <input type="submit" class="btn btn-info" value="Grabar">
    </div>

</body>
</html>





@*<h1>Index</h1>
@foreach (var item in Model)
{
    <div>@item.Nombre</div>
}*@

